astroid==2.3.3
autopep8==1.5
certifi==2019.11.28
colorama==0.4.3
Django==2.1.15
django-pyodbc-azure==2.1.0.0
djangorestframework==3.11.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
pyodbc==4.0.30
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
wfastcgi==3.0.0
whitenoise==5.0.1
wincertstore==0.2
wrapt==1.11.2
